body{
    font-family: 'Cormorant Garamond', serif;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #5dacbd;
}

.title, footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #24527a;
    color: #e0ebeb;
}

footer{
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.new-div{
    background-color: #e0ebeb;
}

.lefty-footer-part{
    flex-direction: column;
}

.lefty-footer-part p{
    margin: 4px;
}

.page-center{
    display: flex;
    justify-content: center;
    align-items: center; 
}

#etch-box{
    display: flex;
    justify-content: center;
    border: 2px solid black;
    height: 500px;
    width: 500px;
}

.page-center{
    display: flex;
    gap: 20px;
}

.options{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.big-gap{
    gap: 40px;
    width: 200px;
}

.big-gap .options{    
    background-color: #24527a;
    color: #e0ebeb;
    padding: 8px;
    border-radius: 8px;
}

.options p{
    margin-bottom: 8px;
    margin-top: 8px;
}

button, input{
    padding: 4px;
    background-color: #5dacbd;
    border-radius: 8px;
    color: black;
    border: 2px solid #030225;
}

/* Remember that, per documentation, this type of pseudoelement is experimental 
and its behavior is expected to change*/
input::placeholder{
    color: black;
}

